.trigger {
  &.trigger--reveal-on-hover {
    opacity: 0;
    transition-property: opacity;
    transition-duration: var(--duration-normal);
    transition-timing-function: var(--ease-out-strong);
  }
}
