.link-container {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  background-size: cover;
}

.link {
  background-color: #d5dce2;
  position: relative;
  margin: 5px;
  width: 150px;
  height: 120px;
  transition: all ease-in-out 0.2s;
  border-radius: 5px;
}

.link.new-link {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.link-footer {
  background-color: white;
  height: 30px;
  border-radius: 0 0 5px 5px;
  transition: all ease-in-out 0.2s;
  display: grid;
  grid-template-columns: 1fr 20px;
  align-items: center;
  justify-items: center;
  cursor: pointer;
}

.link-image {
  width: 90%;
  height: 80%;
  display: block;
  margin: auto;
}

.delete {
  float: right;
}

.theme-selector {
  position: absolute;
  font-family: 'serif';
  z-index: 100; }

    .theme-selector .themes button {
      margin-left: 0;
      margin-right: 0;
      border: 1px solid gray; }

      .theme-selector .themes button.begin {
        border-radius: 5px 0 0 5px; }

      .theme-selector .themes button.end {
        border-radius: 0 5px 5px 0; }

      .theme-selector .themes button:hover {
        background-color: gray; }

  .theme-selector button, .theme-selector input {
    padding: 5px;
    margin: 5px; }

  .theme-selector .image-selection {
    margin-right: 0;
    border: 1px solid gray;
    border-right: none;
    border-radius: 5px 0 0 5px; }

  .theme-selector .image-selection-button {
    margin-left: 0;
    border: 1px solid gray;
    border-left: none;
    border-radius: 0 5px 5px 0; }
