:root {
  --offwhite: #d5dce2;
  --darkblue: #142b3f;
}

.header-fix {
  height: 64px;
}

.background-image {
  background-size: cover;
  background-position: center;
}

.link-container {
  display: grid;
  min-height: calc(100vh - 64px);
  background-size: cover;
  grid-template-columns: repeat(auto-fit, 200px);
  grid-template-rows: repeat(auto-fit, 130px);
  grid-gap: 20px;
  justify-content: center;
  align-content: center;
  padding: 0 55px 0 55px;
}

.link {
  background-color: var(--offwhite);
  width: 200px;
  height: 130px;
  position: relative;
  border-radius: 25px;
  box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.48), 0px 0px 36.5016px rgba(0, 0, 0, 0.288811), 0px 0px 17.7209px rgba(0, 0, 0, 0.247121), 0px 0px 8.6871px rgba(0, 0, 0, 0.231941), 0px 0px 3.43489px rgba(0, 0, 0, 0.188277);
}

.link:hover {
  box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.99), 0px 0px 36.5016px rgba(0, 0, 0, 0.595673), 0px 0px 17.7209px rgba(0, 0, 0, 0.509688), 0px 0px 8.6871px rgba(0, 0, 0, 0.478378), 0px 0px 3.43489px rgba(0, 0, 0, 0.388321);
}

.link .image-wrapper {
  display: flex;
  height: calc(100% - 24px);
}

.disabled-link {
  opacity: 0.6;
  cursor: not-allowed;
}

.link-image {
  height: 100%;
  width: 100%;
  object-fit: cover;

  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.link-footer {
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--offwhite);

  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.edit-link {
  position: absolute;
  top: -6px;
  right: -6px;
  background-color: var(--offwhite);
  border-radius: 100%;
}

.edit-link svg {
  cursor: pointer;
  height: 20px;
}

.new-link {
  position: fixed;
  right: 0;
  width: 50px;
  margin-top: 10px;
  z-index: 1;
  cursor: pointer;

  background-color: var(--offwhite);
  height: 42px;
  border-radius: 50px 0 0 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.new-link.welcome {
  position: inherit;
  margin: auto;
  border-radius: 50px;
  padding: 50px;
}

.modal-title {
  display: grid;
  grid-template-columns: 1fr 24px;
  align-items: center;
}

.modal-title svg {
  cursor: pointer;
}

.form-control {
  margin: 10px 0;
  display: grid;
  background: rgba(0,0,0,0.04);
  border-radius: 4px;
  grid-template-columns: 100px 1fr;
  justify-items: center;
  align-items: center;
}

.form-control label {
  font-size: 18px
}

.form-control input {
  width: 100%;
  background: transparent;
  border-color: transparent;
  padding: 10px;
  opacity: 0.54;
}

.delete {
  font-size: 16px;
  border-style: none;
  background: red;
  color: white;
}

.welcome-message {
  align-self: center;
  justify-self: center;
  text-align: center;
  width: 400px;
  color: white;
  margin-top: -100px;
}
